body {
    background-image: url("https://images.pexels.com/photos/590510/pexels-photo-590510.jpeg");
    background-position: center center;
    background-repeat : no-repeat;
    background-attachment: fixed;
    background-size : cover;
    height: auto;
}
a:hover {
    background-color: rgb(112, 105, 105);
}

.jumbotron {
    background-color: rgb(179, 43, 72);
    color: white;
    opacity: .90;
    margin-top: 20px;
}

#submit {
    background: rgb(179, 43, 72);
}

#jumbo_h2 {
    color: white;
}

#panelBack {
    opacity: .90;
}

.btn-primary {
    color: #fff;
    background-color: #e6b1b1;
    border-color: #e6b1b1;
}

.panel-title {
    color: rgb(179, 43, 72);
}

